<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="favicon.ico" />

    <title>User Registration with Spring Boot</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link th:href="@{css/style.css}" rel="stylesheet" />
</head>

<body class="gray-bg  jumbotron vertical-center">

<div class="middle-box text-center container container-table">
    <div class="col-md-8 col-md-offset-3 well well-lg">
        <h4>Set Your Password</h4>

        <div th:if="${successMessage}" class="alert alert-success"
             role="alert" th:text="${successMessage}"></div>

        <div th:if="${errorMessage}" class="alert alert-danger"
             role="alert" th:text="${errorMessage}"></div>

        <div th:if="${invalidToken}" class="alert alert-danger"
             role="alert" th:text="${invalidToken}"></div>

        <form th:if="!${invalidToken} and !${successMessage}" class="m-t" id="loginForm" role="form" action="#"
              th:object="${setPassword}" th:action="@{/confirm}" method="post">

            <input type="hidden" name="token" th:value="${confirmationToken}">

            <div class="form-group input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                  </span>
                <input name="password" type="password"
                       placeholder="Password" class="form-control" required />
                <span class="glyphicon"
                      aria-hidden="true"></span>
            </div>

            <!--<div class="form-group input-group has-feedback">-->
                  <!--<span class="input-group-addon">-->
                    <!--<span class="glyphicon glyphicon-lock"></span>-->
                  <!--</span>-->
                <!--<input type="password" class="form-control"  placeholder="Confirm Password" name="confirmPassword"/>-->

                <!--<div class="help-block with-errors"></div>-->
            <!--</div>-->
            <button th:if="!${successMessage}" type="submit"
                    class="btn btn-primary block full-width m-b">Save
            </button>

        </form>
        <form th:if="${successMessage}" th:action="@{/login}" method="get">
            <input type="submit" value="Sign In" class="btn btn-primary"/>
        </form>

    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
